@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$black: #000000;
$white: #ffffff;
$paragraph_color: rgb(153, 153, 153);
$text_color: #666666;

@mixin flex-align {
  display: flex;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  padding: 0 165px;
  height: 72px;
  justify-content: space-between;
  @include flex-align;

  div.name_logo {
    @include flex-align;
    gap: 8px;
  }
  nav {
    ul {
      display: flex;
      gap: 37px;

      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 12px;
          letter-spacing: 2px;
          font-weight: 700;
          color: $black;
        }
      }
    }
  }
  button.invite {
    width: 158px;
    height: 40px;
    background-color: $black;
    color: $white;
    font-size: 12px;
    letter-spacing: 2px;
    border: none;
    font-weight: 700;
  }
}

main {
  section.first {
    display: flex;
    height: 650px;
    div.black_background {
      width: 610px;
      height: 650px;
      background-color: $black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
      padding: 140px 80px 0;
    }
    h2 {
      color: $white;
      font-size: 40px;
      letter-spacing: 4.17px;
      line-height: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      color: $paragraph_color;
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      margin: 21px 0 48px 0;
    }
    button.invite_arrow {
      background-color: transparent;
      color: $white;
      width: 168px;
      height: 16px;
      border: none;
      display: flex;
      align-items: center;
      gap: 18px;
    }
  }

  section.second {
    height: 600px;
    display: flex;
    div.white_background {
      width: 610px;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 80px 0;
      h2 {
        font-size: 40px;
        color: $black;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 4.17px;
        text-transform: uppercase;
      }
      p {
        color: $text_color;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        margin: 21px 0 48px 0;
      }
    }
  }
  button.view {
    width: 205px;
    height: 16px;
    display: flex;
    align-items: center;
    gap: 26px;
    background-color: transparent;
    border: none;
  }
  section.third {
    height: 610px;
    display: flex;
    div.text {
      width: 610px;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h2 {
      font-size: 40px;
      line-height: 48px;
      color: $black;
      text-transform: uppercase;
    }
  }
}
