@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$black: #000000;
$white: #ffffff;

@mixin flex-align {
  display: flex;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  padding: 0 165px;
  height: 72px;
  justify-content: space-between;
  @include flex-align;

  div.name_logo {
    @include flex-align;
    gap: 8px;
  }
  nav {
    ul {
      display: flex;
      gap: 37px;

      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 12px;
          letter-spacing: 2px;
          font-weight: 700;
          color: $black;
        }
      }
    }
  }
  button.invite {
    width: 158px;
    height: 40px;
    background-color: $black;
    color: $white;
    font-size: 12px;
    letter-spacing: 2px;
    border: none;
    font-weight: 700;
  }
}
